services:
  mariadb:
    build: requirements/mariadb
    container_name: mariadb
    restart: always
    env_file: .env
    networks:
      - inception-network
    volumes:
      - mariadb-data:/var/lib/mysql

  wordpress:
    build: requirements/wordpress
    container_name: wordpress
    restart: always
    env_file: .env
    depends_on:
      - mariadb
      - redis
    networks:
      - inception-network
    volumes:
      - wordpress-data:/var/www/html

  nginx:
    build: requirements/nginx
    container_name: nginx
    restart: always
    depends_on:
      - wordpress
      - adminer
    ports:
      - "443:443"
    networks:
      - inception-network
    volumes:
      - wordpress-data:/var/www/html
      - static-site-data:/var/www/static-site
      - adminer-data:/var/www/adminer
  redis:
    build: requirements/bonus/redis
    container_name: redis
    restart: always
    env_file:
      - .env
    networks:
      - inception-network
  ftp:
    build: requirements/bonus/ftp
    container_name: ftp
    restart: always
    env_file:
      - .env
    depends_on:
      - wordpress
    networks:
      - inception-network
    volumes:
      - wordpress-data:/var/www/html
  static-website:
    build: requirements/bonus/static-website
    container_name: static-website
    restart: always
    depends_on:
      - nginx
      - wordpress
    networks:
      - inception-network
    volumes:
      - static-site-data:/var/www/static-site
      
  portainer:
    build: requirements/bonus/portainer
    container_name: portainer
    restart: always
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer-data:/data
    networks:
      - inception-network

  adminer:
    build: requirements/bonus/adminer
    container_name: adminer
    restart: always
    depends_on:
      - mariadb
    networks:
      - inception-network
    volumes:
      - adminer-data:/var/www/adminer

networks:
  inception-network:
    driver: bridge

volumes:
  mariadb-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/joker/data/mariadb
  wordpress-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/joker/data/wordpress
  static-site-data:
    driver: local
  adminer-data:
    driver: local
  portainer-data:
    driver: local

